<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Джуманджи</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>



<body>
    <header class="container mt-3">
        {% block header %}
            {% include "header_nav.html" %} 
        {% endblock %}
        {% block header_search %}{% endblock header_search %}
        {% block main_spec_cards %}{% endblock main_spec_cards %}
        {% block main_company_cards %}{% endblock main_company_cards %}
        
    </header>
    <main class="container mt-3">
        <section>
            {% block content %}{% endblock content %}
        </section>
    </main>
</body>
</html>