{% load thumbnail %}
<section class="my-5 pt-3">
    <h2 class="h2 font-weight-normal text-center mb-5">Нам доверяют лучшие компании</h2>
    <div class="row mb-0">
      {% for company in companies %}
      <div class="col-6 col-md-6 col-lg-3">
        <div class="card pt-4 text-center mb-4">
          <a href="{% url 'company_profile' company.id %}" style="max-width: 150px;" class="mx-auto d-block">
            {% thumbnail company.logo "100x60" crop="center" format="PNG" upscale=True as im %}
            <img class="mx-auto d-block mw-100" src="{{ im.url }}" alt="">
            {% endthumbnail %}
          </a>
          <h3>{{ company.name }}</h3>
          <div class="card-body">
            <p class="card-text"><a href="{% url 'company_profile' company.id %}">{{company.count}} вакансий</a></p>
          </div>
        </div>
      </div>
{% endfor %}
    </div>
</section>      